/* .footer {
  background-color: white;
  width: 100%;
  padding: 0;
  margin: 0;
  left:
  z-index: 100;
  position: sticky;
} */

.footer {
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80px;
  position: fixed;
  background: #ffffffb1;
  backdrop-filter: blur(17px);
}

.footer-group {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 80px;
}

/* .footer__icon-home-active {
  background-color: #fdfdfebf;
  transform: scale(1.02);
  border-radius: 50%;
  height: auto;
  width: auto;
} */
