.main-content {
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  display: flex;
  top: 80px;
  padding: 3%;
  width: 100%;
  height: 600px;
  background: linear-gradient(315deg, #ffebcc, #ffebc4);
}
