.card__bookmark {
  position: absolute;
  top: -15px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  height: 35px;
  width: 35px;
  background-image: url(/css/assets/bookmark.svg);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 500;
}

.card__bookmark.active {
  position: absolute;
  top: -15px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  background-image: url(/css/assets/bookmark-filled.svg);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 500;
}
