.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 80px;
  gap: 30px;
  padding: 10px;
  width: 100%;
  min-height: 100%;
  background: var(--primary-color);
  position: relative;
}

.main-content:last-child {
  margin-bottom: 200px;
}

.dark-mode {
  background: var(--background-gradient-darkmode);
  color: var(--secondary-color);
}
