.user {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(6, auto);
  margin-top: 45px;
  gap: 10px;
  padding: 30px;
  background: var(--glass-background-color);
  backdrop-filter: blur(17px);
  border-radius: 26px;
}

.profile-picture {
  height: 150px;
  width: 150px;
  border: 0.5px solid var(--primary-color);
  border-radius: 50%;
  grid-column-start: 1;
  object-fit: cover;
}

.name {
  grid-column-start: 2;
  align-content: center;
  letter-spacing: -2%;
}

.bio-title {
  grid-column-start: 1;
  grid-column-end: 3;
  align-content: flex-end;
}

.bio-text {
  grid-row-start: 3;
  grid-column: span 2;
}

.profile-button-questions, .profile-button-bookmarks  {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 3px;
  background-color: var(--light-grey-color);
  backdrop-filter: blur(10px);
  border: 0.5px solid var(--primary-color);
  border-radius: 26px;
  text-decoration: none;
  padding: 6px 12px;
  box-shadow: 0 1px 2px var(--shadow-color);
  cursor: pointer;
  width: auto;
  font-size: large;
}

.icon-bookmark > img, .icon-questions > img {
  height: 25px;
}

.profile-button-questions:hover, .profile-button-bookmarks:hover {
  background-color: var(--button-active-color);
}

.settings-headline {
  grid-column-start: 1;
  align-content: flex-end;
  letter-spacing: -2%;
  margin-top: 50px;
}

.settings-title {
  grid-column-start: 1;
  align-content: flex-end;
  letter-spacing: -2%;
  font-size: small;
  font-weight: 200;
}
