.question-card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: relative;
  height: minmax(300px, max-content);
  min-width: 100%;
  gap: 20px;
  background: var(--glass-background-color);
  padding: 32px;
  border-radius: 26px;
  backdrop-filter: blur(17px);
}

.question-title {
  font-weight: 300;
  letter-spacing: -2%;
}

.question-button {
  background: var(--glass-background-color);
  backdrop-filter: blur(17px);
  border: 0.5px solid var(--primary-color);
  border-radius: 26px;
  text-decoration: none;
  margin-top: 24px;
  padding: 12px 24px;
  box-shadow: 0 1px 2px var(--shadow-color);
  bottom: 60px;
  left: 10px;
  cursor: pointer;
  transition: 0.55s ease-in-out;
  font-weight: 600;
}
.question-button.active, .question-button:hover {
  background: var(--button-active-color);  
}

.question-answer {
  margin-top: 24px;
  display: none;
}

.question-answer.active {
  display: block;
  margin-top: 24px;
}

.questions-tags {
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  gap: 5px;
  list-style: none;
}
.tags-item {
  font-size: small;
  background: var(--light-grey-color);
  border: 0.5px solid var(--primary-color);
  padding: 4px 8px;
  border-radius: 8px;
  cursor: pointer;
}
